body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    flex: 1 1 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.y1 {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 25px 100px;
    align-items: center;
    column-gap: 50px;
    overflow: hidden;
}

.y1 .header {
    font-size: 20px;
    font-weight: 700;
}

.y1 .links {
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    column-gap: 25px;
}

.y2 {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    padding: 80px 100px;
    column-gap: 60px;
    overflow: hidden;
    /* flex: 0 0 auto; */
}

.y2 .hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.y2 .sub-hero {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    background-color: #3882F6;
    border-radius: 5px;
    border-style: none;
    color: white;
    /* padding: 5px 25px; */
    width: 100px;
    height: 40px;
    font-weight: 800;
    font-size: 15px;
    transition-duration: 0.3s;
}

.sign-up:hover {
    background-color: #1558c4;
}

.y2 .left {
    min-width: 250px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.y2 .image {
    box-sizing: border-box;
    max-width: 100%;
    min-width: 400px;
    max-height: 600px;
    border-radius: 30px;
}

.y3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    row-gap: 50px;
}

.y3 .title {
    font-size: 30px;
    font-weight: 900;
    color: black;
}

.y3 .content {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 1000px;
}

.y3 .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    box-sizing: border-box;
    flex: 1 1 20%;
    max-width: 20%;
    transition-duration: 0.3s;
}

.y3 .item:hover {
    transform: scale(1.1);
}

.y3 img {
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    border: 4px #3882F6 solid;
    border-radius: 10px;
    padding: 10px;
}

.y3 .item-text {
    max-width: 90%;
    height: auto;
    font-size: 18px;
    font-weight: 100;
    color: black;
    margin-bottom: 40px;
    text-align: center;
}



.y4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 80px 200px;
    flex: 0 0 auto;
}

.y4 .quote {
    font-size: 30px;
    font-weight: lighter;
    font-style: italic;   
    max-width: 820px;
}

.y4 .thor {
    display: flex;
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    justify-content: flex-end;
    margin-top: 15px;
}

.y5 {
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    margin: 50px auto;
    padding: 40px 110px;
    border-radius: 10px;
    box-sizing: border-box;
    column-gap: 80px;
}

.y5 .left, .y5 .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.y5 .title {
    font-size: 18px;
    font-weight: 900;
    color: #F9FAF8
}

.y5 .subtitle {
    font-size: 15px;
    font-weight: 100;
    color: #E5E7EB;
}

.y5 .sign-up {
    border: 2px #F9FAF8 solid;
}

.y6 {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.y6 .footer {
    color: #F9FAF8;
    font-size: 13px;
    font-weight: 100;
    padding: 25px 0;
}